.App {
  font-family: sans-serif;
  text-align: left;
}

.list {
  padding: 0;
  margin: 0;
}

.listName {
  position: relative;
  margin-bottom: 20px;
}

.cta-button {
  position: absolute;
  display: inline-block;
  background-color: lightgray;
  right: 0px;
  padding: 5px;
  cursor: pointer;
}
